@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: var(--font-serif);
}
